body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containerMiddle {
    text-align: center;
    margin: 50px 0;
}

.text-containerOne {
    border-radius: 5px;
    position: relative; 

}

.text-containerOne p {
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

.text-containerOne div {
    
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
}

.text-containerTwo {
    background: #37507A; 
    border-radius: 5px;
    position: relative; 
    height: 15vh;
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.text-containerTwo p {
    color: #ffffff;
    padding: 14px;
    
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.question {
  margin-bottom: 20px;
}

.options label {
  display: block;
  margin-bottom: 10px;
}

input{
  float: left;
  clear: both;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result {
  display: none;
}
